html {
    min-height: 100%;
    background-image: url('../img/5_background/background_game.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

body.impressum {
    display: block;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Spicy Rice';
    margin: 0;
}

.back_to_game_button {
    background-color: var(--font-color-yellow);
    color: var(--font-color-orange);
    font-size: 1.5rem;
    border: 5px outset;
    border-color: var(--font-color-orange);
    margin: 12px 0;
    cursor: pointer;
    font-family: 'Spicy Rice';
}

.impressum_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
}

h2,
p {
    margin: 0;
}

@media screen and (min-width: 1440px) {
    body.impressum {
        padding-left: max(20px, calc(50% - 720px));
        padding-right: max(20px, calc(50% - 720px));
    }
}